
/*Empty boxes for the learned and not learned sections. */

    ul.dinoNamesLearned{
      list-style-type: none;
      font-size: 35px;
      background-color: #8E8A31;
      padding: 0px;
      height: 400px;
    }

    ul.dinoNamesNotLearned{
      list-style-type: none;
      font-size: 35px;
      background-color: #8E8A31;
      padding: 0px;
    }


/*titles for learned and not learned sections:*/

    p.notLearned {
      background-color: #F5EE52;
      font-family: "Comic Sans MS", cursive, sans-serif;
      font-size: 40px;
      display: inline-block;
      margin: 0px;
      padding: 20px 50px 20px 50px;
      height: 60px;
    }

    p.learned {
      background-color: #F5EE52;
      font-family: "Comic Sans MS", cursive, sans-serif;
      font-size: 40px;
      display: inline-block;
      margin: 0px;
      padding: 20px 50px 20px 50px;
      height: 60px;
    }

/*trying to get the dino names to display as a column list. */
#listItems {
  /*list-style-type: none;*/
  font-size: 35px;
  background-color: #8E8A31;
  padding: 0px;
  display: column;
}

body {
background-color: #FD5F3D;
text-align: center;
/*setting it to border box so that grid-view will work*/
/*box-sizing: border-box;*/
}

h1.title {
  font-size: 60px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: black;
  color: white;
  padding: 20px;
  margin-top: 0px;
}

div.flex {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}



/*front and back of cards:*/
    .stage {
      -webkit-perspective: 1000;
    }

    div.flashCard {
      background-color: white;
      border: solid;
      height: 500px;
      width: 600px;
      box-shadow: 2px 2px 2px #000;
      -webkit-transform-style: preserve-3d;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
    }

    div.cardFront, .cardBack {
      background-color: white;
      border: solid;
      position: absolute;
      height: 500px;
      width: 600px;
      font-size: 30px;
      text-align: center;
      -webkit-backface-visibility: hidden;
    }
    .cardBack, .flipped {
      transform: rotateX(180deg);
      -webkit-transform: rotateX(180deg);
    }


/*trying to figure out how to make it transfer to columns after a certain point
@media only screen and (max-width: 1000px) {
    body {
        background-color: lightblue;
    }
}*/
